.idea
experiments
*.pyc
checkpoints
_vizdoom.ini
*.*~
MUJOCO_LOG.TXT
test_log.txt
.test
tf_logs
bullet3
roboschool
*.csv
*.doc
*.orig
docs/site
coach_env/*
!coach_env/lib/
coach_env/lib/*
!coach_env/lib/python3.5/
coach_env/lib/python3.5/*
!coach_env/lib/python3.5/site-packages/
coach_env/lib/python3.5/site-packages/*
!coach_env/lib/python3.5/site-packages/gym/
coach_env/lib/python3.5/site-packages/gym/*
!coach_env/lib/python3.5/site-packages/gym/envs/
coach_env/lib/python3.5/site-packages/gym/envs/algorithmic
coach_env/lib/python3.5/site-packages/gym/envs/atari
coach_env/lib/python3.5/site-packages/gym/envs/box2d
coach_env/lib/python3.5/site-packages/gym/envs/classic_control
coach_env/lib/python3.5/site-packages/gym/envs/mujoco
coach_env/lib/python3.5/site-packages/gym/envs/robotics
coach_env/lib/python3.5/site-packages/gym/envs/tests
coach_env/lib/python3.5/site-packages/gym/envs/toy_text
coach_env/lib/python3.5/site-packages/gym/envs/unittest
coach_env/lib/python3.5/site-packages/gym/envs/registration.py
build
rl_coach.egg*
contrib
test_log_*
dist
